/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s; /* Animation transition for navbar */
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 20px;
  }
  
  .nav-link {
    color: #050101;
    text-decoration: none;
    transition: color 0.3s; /* Animation transition for nav links */
  }
  
  .nav-link:hover {
    color: #8d769a;
  }
  